<!doctype>

<html>
<head>
	<title>Rock Paper Scissors Lizard Spock</title>
	<link href="/css/styles.css" type ="text/css" rel="stylesheet">

</head>
<body>
	<h1 id="title">
		Rock Paper Scissors Lizard Spock
	</h1>

	<%=yield%>

</body>
</html>